<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.vcu.beyep.group21test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EventInformation"></activity>
        <activity android:name=".FoodInformation" />
        <activity android:name=".food_swipes" />
        <activity android:name=".Create_Events_Page" />
        <activity android:name=".Events_Page" />
        <activity android:name=".homeScreen" />
        <activity android:name=".splashWelcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>